.userContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    gap: 0.5rem;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
   width: 25%;
}

.userContainer>button{
    width: 8%;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
